<div class="page-account container">
  <div class="inner">
    <h1 class="hd-2">{{ 'customer.register.title' | t }}</h1>

    {% form 'create_customer' %}
      {{ form.errors | default_errors }}

      <label for="FirstName" class="label-hidden">
        {{ 'customer.register.first_name' | t }}
      </label>
      <input type="text"
        name="customer[first_name]"
        id="FirstName"
        placeholder="{{ 'customer.register.first_name' | t }}"
        autofocus
        {% if form.first_name %}value="{{ form.first_name }}"{% endif %}>

      <label for="LastName" class="label-hidden">
        {{ 'customer.register.last_name' | t }}
      </label>
      <input type="text"
        name="customer[last_name]"
        id="LastName"
        placeholder="{{ 'customer.register.last_name' | t }}"
        {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>

      <label for="Email" class="label-hidden">
        {{ 'customer.register.email' | t }}
      </label>
      <input type="email"
        name="customer[email]"
        id="Email"
        class="{% if form.errors contains 'email' %}input-error{% endif %}"
        placeholder="{{ 'customer.register.email' | t }}"
        value="{% if form.email %}{{ form.email }}{% endif %}"
        spellcheck="false"
        autocomplete="off"
        autocapitalize="off">

      <label for="CreatePassword" class="label-hidden">
        {{ 'customer.register.password' | t }}
      </label>
      <input type="password"
        name="customer[password]"
        id="CreatePassword"
        class="{% if form.errors contains 'password' %}input-error{% endif %}"
        placeholder="{{ 'customer.register.password' | t }}">

      <p>
        <button type="submit" class="btn btn--blush">{{ 'customer.register.submit' | t }}</button>
      </p>
      <div class="end-links">
        <a href="/account/login" class="cta-link md-cta-link">
          {{ 'customer.login.sign_in_cta' | t }}
        </a>
      </div>
    {% endform %}
  </div>
</div>
