<footer class="site-footer">
  <div class="cols-2-3 m-flex-reverse">
    <!--   LOGO   -->
    <div class="logo-wrapper">
      <a href="{{ section.settings.logo_link }}" title="Home" rel="home">
        <svg viewBox="0 0 314 35" xmlns="http://www.w3.org/2000/svg"><path d="M159.263 7.69h4.271V5.697h-4.271V2.483h6.941V.489h-9.135v13.466h9.135V11.96h-6.941V7.69zm-7.552-.466c0-2.928-1.89-4.675-5.058-4.675h-1.72v9.346h1.72c3.167 0 5.058-1.746 5.058-4.671zm-.39 5.46c-1.165.868-2.622 1.272-4.575 1.272h-4.07V.487h4.07c1.953 0 3.41.407 4.575 1.272 1.658 1.247 2.647 3.289 2.647 5.464 0 2.172-.989 4.214-2.647 5.46zm2.762 8.668c-1.256 0-2.28 1.032-2.28 2.3 0 1.27 1.024 2.301 2.28 2.301 1.256 0 2.278-1.032 2.278-2.3 0-1.269-1.022-2.301-2.278-2.301zm-96.498-3.993l-5.627-13.48-5.627 13.48h11.254zM54.45.474l14.277 33.757H64.63l-.073-.177-5.637-13.5H44.998l-5.71 13.677h-4.099l.17-.403L49.47.474h4.98zm69.017 16.885l-5.627-13.48-5.627 13.48h11.254zM120.33.474l14.278 33.757h-4.097l-.073-.177-5.638-13.5h-13.921l-5.71 13.677h-4.098l.17-.403L115.348.474h4.98zM86.344 15.315c-6.136-1.15-8.638-3.032-8.638-6.494 0-3.84 3.489-5.209 6.754-5.209 4.273 0 7.086 2.053 8.363 6.103l.108.339 3.426-1.952-.08-.23C94.572 2.943 90.243 0 84.694 0c-6.286 0-10.848 3.75-10.848 8.916 0 5.033 4.107 8.628 11.27 9.86 7.164 1.221 8.633 3.29 8.633 6.018 0 3.886-3.146 6.3-8.21 6.3-6.631 0-9.356-4.707-10.473-8.654l-.105-.37-3.376 2.125.07.215c2.88 8.958 9.905 10.296 13.838 10.296 7.02 0 12.115-4.19 12.115-9.959 0-5.179-3.264-7.911-11.264-9.432zm-56.951 5.14c-1.94 7.543-6.059 11.055-12.96 11.055-7.408 0-12.388-5.69-12.388-14.158 0-8.203 5.211-14.157 12.388-14.157 5.521 0 9.629 3.545 10.987 9.483l.078.342 3.598-1.62-.07-.244C29.805 6.99 26.297 0 16.48 0 6.93 0 0 7.298 0 17.352 0 27.57 6.777 34.706 16.48 34.706c8.332 0 14.252-4.728 16.238-12.972l.059-.242-3.3-1.357-.084.32zm273.465-2.86l-5.628-13.48-5.626 13.48h11.254zM314 34.47h-4.098l-.073-.178-5.637-13.5h-13.921l-5.71 13.678h-4.098l.17-.404L294.74.711h4.98L314 34.47zm-43.287-5.15l.054 3.142L253.011.769h-6.706v33.758h3.859V2.95l17.691 31.576h6.717V.769h-3.859v28.55zm-37.195-8.922c0 7.25-3.574 11.409-9.805 11.409-6.23 0-9.805-4.16-9.805-11.409V.768h-3.859v20.197c0 8.396 5.492 14.035 13.664 14.035 8.173 0 13.664-5.64 13.664-14.035V.768h-3.86v19.63zm-29.99 4.645c0 5.77-5.095 9.958-12.114 9.958-3.933 0-10.958-1.338-13.839-10.295l-.069-.216 3.376-2.124.104.37c1.656 5.85 5.375 9.07 10.474 9.07 4.91 0 8.21-2.699 8.21-6.716 0-2.404-1.046-4.808-8.633-6.102-7.267-1.25-11.27-4.722-11.27-9.776 0-5.166 4.563-8.916 10.85-8.916 5.548 0 9.878 2.942 11.582 7.873l.078.228-3.426 1.953-.107-.34c-1.325-4.204-4.294-6.519-8.363-6.519-3.254 0-6.755 1.761-6.755 5.625 0 3.477 2.583 5.444 8.638 6.577l.001.001c8 1.52 11.263 4.23 11.263 9.35z" fill="#000" fill-rule="evenodd"/></svg>
      </a>
    </div>
    <div>
      <!--   NAV   -->
      <nav class="cols-3 cols-2-sm">
        <div>
          {%- if section.settings.nav_column_1_heading != blank -%}
            <h3>{{ section.settings.nav_column_1_heading }}</h3>
            <ul>
              {% for link in linklists[section.settings.footer_linklist_1].links %}
                <li>
                  <a href="{{ link.url }}">{{ link.title | escape }}</a>
                </li>
              {% endfor %}
            </ul>
          {%- endif -%}

        </div>

        <div>
          {%- if section.settings.nav_column_2_heading != blank -%}
            <h3>{{ section.settings.nav_column_2_heading }}</h3>
            <ul>
              {% for link in linklists[section.settings.footer_linklist_2].links %}
                <li>
                  <a href="{{ link.url }}">{{ link.title | escape }}</a>
                </li>
              {% endfor %}
            </ul>
          {%- endif -%}
        </div>

        <div>
          {%- if section.settings.nav_column_3_heading != blank -%}
            <h3>{{ section.settings.nav_column_3_heading }}</h3>
            <ul>
              {% for link in linklists[section.settings.footer_linklist_3].links %}
                <li>
                  <a href="{{ link.url }}" target="_blank">{{ link.title | escape }}</a>
                </li>
              {% endfor %}
            </ul>
          {%- endif -%}
        </div>
      </nav>
    </div>
  </div>

  <div class="end-row cols-3">
    <!--   COPYRIGHT   -->
    {%- if section.settings.copyright != blank -%}
      <p class="copyright">&copy; {{ 'now' | date: "%Y" }} {{ section.settings.copyright }}</p>
    {%- endif -%}

    <!-- LEGAL -->
    <ul>
      {% for link in linklists[section.settings.footer_middle_links].links %}
        <li>
          <a href="{{ link.url }}" target="_blank">{{ link.title | escape }}</a>
        </li>
      {% endfor %}
    </ul>

    <!-- CREDIT -->
    {%- if section.settings.footer_credit != blank -%}
      {{ section.settings.footer_credit }}
    {%- endif -%}

  </div>
</footer>


{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "url",
        "id": "logo_link",
        "label": "Logo Link"
      },
      {
        "type": "text",
        "id": "nav_column_1_heading",
        "label": "Nav Column 1 Heading",
        "default": "Articles"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_1",
        "label": "First menu",
        "default": "footer",
        "info": "Update links in Online Store > Navigation."
      },
      {
        "type": "text",
        "id": "nav_column_2_heading",
        "label": "Nav Column 2 Heading",
        "default": "Company"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_2",
        "label": "Second menu",
        "default": "footer",
        "info": "Update links in Online Store > Navigation."
      },
      {
        "type": "text",
        "id": "nav_column_3_heading",
        "label": "Nav Column 3 Heading",
        "default": "Stay Connected"
      },

      {
        "type": "link_list",
        "id": "footer_linklist_3",
        "label": "Third menu",
        "default": "footer",
        "info": "Update links in Online Store > Navigation."
      },
      {
        "type": "text",
        "id": "copyright",
        "label": "Copyright",
        "default": "Casa De Suna, Inc, All Rights Reserved."
      },
      {
        "type": "link_list",
        "id": "footer_middle_links",
        "label": "Footer Middle Links",
        "default": "footer",
        "info": "Update links in Online Store > Navigation."
      },
      {
        "type": "richtext",
        "id": "footer_credit",
        "label": "Footer Credit",
        "default": "<p>Made by <a href='http://nicepeople.com/'>Nice People</a></p>"
      }
    ]
  }

{% endschema %}
