<style>
  body {
    padding-top: var(--nav-height);;
  }
  .nav-wrapper {
    height: auto;
    padding-top: 0;
  }
  @media (max-width: 767px){
    .nav-wrapper {
      padding-bottom: 1.4rem;
    }
  }
  .nav-wrapper nav.split-aligner {
    display: grid;
    grid-template-columns: 1fr 267px 1fr;
    align-items: center;
  }
  @media (max-width: 767px){
    .nav-wrapper nav.split-aligner {
      grid-template-columns: 1fr 18rem 1fr;
    }
  }
  .nav-wrapper .logo-wrapper {
    position: static;
    transform: none;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-wrapper .nav-right {
    justify-content: flex-end;
  }
  .nav-wrapper.scrolled {
    padding-top: 0;
    padding-bottom: 2rem;
    height: auto;
  }
  @media (max-width: 767px){
    .nav-wrapper.scrolled {
      padding-bottom: 1.4rem;
    }
  }  
  .nav-wrapper .inner {
    padding-top: 2rem;
  }
  @media (min-width: 768px){
    .nav-wrapper .nav-left a:first-of-type {
        margin-left: 5rem;
        position: relative;
        top: 2px;
    }    
  }
  @media (max-width: 767px){
    .nav-wrapper .inner {
        padding-top: 1.4rem;
    }    
    .nav-wrapper .nav-left nav {
      display: none;
    }
  }
  .nav-wrapper .hamburger {
    position: relative;
    transform: none;
    top: 0 !important;
    left: 0 !important;
  }
  .nav-wrapper .secondary-menu {
    position: static;
    padding: 6rem 0 0;
    margin-bottom: -2.25rem;
  }
  @media (max-width: 767px){
    .nav-wrapper .secondary-menu {
        padding: 0;
        margin-bottom: 0;
    }    
  }
  .nav-wrapper .main-shop-nav__flyout nav > ul > li {
    width: 100%;
  }
  .nav-wrapper .main-shop-nav__flyout a.main-link {
    position: absolute;
    left: 12rem;
    margin-top: -2.25rem;
  }  
  .nav-wrapper.scrolled .nav__trigger-row, 
  .nav-wrapper.scrolled .secondary-menu {
    display: none;
  }
  .nav__trigger-row {
    position: static;
    transform: none;
    text-align: center;
    padding-top: 2rem;
  }
  @media (max-width: 767px){
    .main-shop-nav__flyout {
      top: calc(8.7rem - 2px);
      height: calc(100vh - 8.7rem + 2px);
    }
   .main-shop-nav__flyout .secondary-menu>li>a {
     display: flex;
   } 
  }
  {% if section.settings.enable_announcement %}
    .announcement-bar {
      width: 100%;
      font-family: Mabry, sans-serif;
      font-size: 1.4rem;
      color: #000;
      letter-spacing: .073rem;
      text-align: center;
      line-height: 1.428;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      padding: 1.25rem 4.8rem;
      border-bottom: 1px solid;
      background-color: {{ section.settings.announcement_bg_color }};
      border-color: {{ section.settings.announcement_border_color }};
      color: {{ section.settings.announcement_text_color }};
    }    
    @media (max-width: 767px){
      .announcement-bar {
        font-size: 1.25rem;
      }
    }
  {% else %}
    @media (min-width: 768px){
      .nav-wrapper {
        padding-top: 1rem;
      }
    }
  {%  endif %}
</style>

<div data-section-id="{{ section.id }}" data-section-type="header-section">
  <div class="nav-placeholder">
    <div class="nav-wrapper">

      {% if section.settings.enable_announcement %}
        <div class="announcement-bar">
          <div class="swiper">
              <div class="swiper-wrapper">
                  {{- section.settings.announcement | replace: '<p>', '<p class="swiper-slide">' -}}
              </div>
          </div>
        </div>
      {% endif %}

      <div class="inner container-lg">

        <!--   NAV    -->
        <nav class="split-aligner">
          <div class="nav-left">
            <button type="button" class="text-only hamburger" aria-label="Open Full Menu">
              <svg class="icon icon-hamburger" aria-role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 13"><g stroke="currentColor" stroke-width="1.5" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M1.257 1.5h18.486M1.257 6.5h18.486M1.257 11.5h18.486"/></g></svg>
            </button>
            <nav role="navigation">
              <ul>
                {% for link in linklists[section.settings.main_linklist].links %}
                  {% if link.links != blank %}
                    <li {% if link.active %}class="current"{% endif %}>
                      <a href="{{ link.url }}" class="main-link">{{ link.title | escape }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </nav>
          </div>
          <!--   LOGO   -->
          <div class="logo-wrapper">
            <a href="{{ section.settings.logo_link }}" itemprop="url" rel="home">
              <svg viewBox="0 0 314 35" xmlns="http://www.w3.org/2000/svg"><path d="M159.263 7.69h4.271V5.697h-4.271V2.483h6.941V.489h-9.135v13.466h9.135V11.96h-6.941V7.69zm-7.552-.466c0-2.928-1.89-4.675-5.058-4.675h-1.72v9.346h1.72c3.167 0 5.058-1.746 5.058-4.671zm-.39 5.46c-1.165.868-2.622 1.272-4.575 1.272h-4.07V.487h4.07c1.953 0 3.41.407 4.575 1.272 1.658 1.247 2.647 3.289 2.647 5.464 0 2.172-.989 4.214-2.647 5.46zm2.762 8.668c-1.256 0-2.28 1.032-2.28 2.3 0 1.27 1.024 2.301 2.28 2.301 1.256 0 2.278-1.032 2.278-2.3 0-1.269-1.022-2.301-2.278-2.301zm-96.498-3.993l-5.627-13.48-5.627 13.48h11.254zM54.45.474l14.277 33.757H64.63l-.073-.177-5.637-13.5H44.998l-5.71 13.677h-4.099l.17-.403L49.47.474h4.98zm69.017 16.885l-5.627-13.48-5.627 13.48h11.254zM120.33.474l14.278 33.757h-4.097l-.073-.177-5.638-13.5h-13.921l-5.71 13.677h-4.098l.17-.403L115.348.474h4.98zM86.344 15.315c-6.136-1.15-8.638-3.032-8.638-6.494 0-3.84 3.489-5.209 6.754-5.209 4.273 0 7.086 2.053 8.363 6.103l.108.339 3.426-1.952-.08-.23C94.572 2.943 90.243 0 84.694 0c-6.286 0-10.848 3.75-10.848 8.916 0 5.033 4.107 8.628 11.27 9.86 7.164 1.221 8.633 3.29 8.633 6.018 0 3.886-3.146 6.3-8.21 6.3-6.631 0-9.356-4.707-10.473-8.654l-.105-.37-3.376 2.125.07.215c2.88 8.958 9.905 10.296 13.838 10.296 7.02 0 12.115-4.19 12.115-9.959 0-5.179-3.264-7.911-11.264-9.432zm-56.951 5.14c-1.94 7.543-6.059 11.055-12.96 11.055-7.408 0-12.388-5.69-12.388-14.158 0-8.203 5.211-14.157 12.388-14.157 5.521 0 9.629 3.545 10.987 9.483l.078.342 3.598-1.62-.07-.244C29.805 6.99 26.297 0 16.48 0 6.93 0 0 7.298 0 17.352 0 27.57 6.777 34.706 16.48 34.706c8.332 0 14.252-4.728 16.238-12.972l.059-.242-3.3-1.357-.084.32zm273.465-2.86l-5.628-13.48-5.626 13.48h11.254zM314 34.47h-4.098l-.073-.178-5.637-13.5h-13.921l-5.71 13.678h-4.098l.17-.404L294.74.711h4.98L314 34.47zm-43.287-5.15l.054 3.142L253.011.769h-6.706v33.758h3.859V2.95l17.691 31.576h6.717V.769h-3.859v28.55zm-37.195-8.922c0 7.25-3.574 11.409-9.805 11.409-6.23 0-9.805-4.16-9.805-11.409V.768h-3.859v20.197c0 8.396 5.492 14.035 13.664 14.035 8.173 0 13.664-5.64 13.664-14.035V.768h-3.86v19.63zm-29.99 4.645c0 5.77-5.095 9.958-12.114 9.958-3.933 0-10.958-1.338-13.839-10.295l-.069-.216 3.376-2.124.104.37c1.656 5.85 5.375 9.07 10.474 9.07 4.91 0 8.21-2.699 8.21-6.716 0-2.404-1.046-4.808-8.633-6.102-7.267-1.25-11.27-4.722-11.27-9.776 0-5.166 4.563-8.916 10.85-8.916 5.548 0 9.878 2.942 11.582 7.873l.078.228-3.426 1.953-.107-.34c-1.325-4.204-4.294-6.519-8.363-6.519-3.254 0-6.755 1.761-6.755 5.625 0 3.477 2.583 5.444 8.638 6.577l.001.001c8 1.52 11.263 4.23 11.263 9.35z" fill="currentColor" fill-rule="evenodd"/></svg>
            </a>
          </div>                
          <div class="nav-right">
            <a href="/search" class="text-only js-open-search search-btn">
              <svg aria-hidden="true" aria-role="presentation" class="nav-open-search" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg"><g transform="matrix(-1 0 0 1 20 1)" stroke="#FFF" stroke-width="1.5" fill="none" fill-rule="evenodd"><circle cx="11.5" cy="7" r="7"/><path stroke-linecap="square" d="M6.5 12l-6 6"/></g></svg>
              <span class="visually-hidden">Search</span>
            </a>
            <!-- include 'wishlist-link' -->
            <!--   CART   -->
            <a href="/cart" data-cart-view="data-cart-view" class=" cart-icon-wrapper js-view-cart">
              {% render 'icon-cart' %}
              <!-- <span class="js-cart-counter cart-counter" rv-html="cart.item_count" rv-show="cart.item_count | gt 1">
                <span>{{ cart.item_count }}</span>
              </span> -->
            </a>

            <p {% if template.directory == 'customers' %}class="current"{% endif %}>
              <a href="/account" class="hide-mobile main-link">Account</a>
            </p>
          </div>
        </nav>

        <!--   NAV   -->
        <div class="main-shop-nav__flyout">
          {%- render 'nav-menu', current_linklist: section.settings.main_linklist, location: 'main' -%}
        </div>
                
      </div>

      <div class="show-mobile nav__trigger-row">
        <button type="button" class="text-only shop-category-trigger js-open-mobile-collection-menu">
          <span class="caps--md">{{ section.settings.mobile_shop_all | default: 'Shop Categories' }}</span>
          {% render 'icon-caret-down' %}
        </button>
      </div>

      <!-- SEARCH -->
      {% render 'nav-flyout' %}
    </div>
  </div>
</div>

<script>
  function updateNavHeights () {
    $(":root").css({"--nav-height": $(".nav-wrapper").outerHeight(true) + ($(window).width() > 767 ? 50 : 25)});
    {% if section.settings.enable_announcement %}
       $(":root").css({"--announcement-bar-height": $(".announcement-bar").outerHeight(true)});
    {%  endif %} 
  }
  updateNavHeights();
  $(window).on("resize", updateNavHeights)
</script>



{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "url",
        "id": "logo_link",
        "label": "Logo Link"
      },
      {
        "id": "main_linklist",
        "type": "link_list",
        "label": "Menu",
        "default": "main-menu",
        "info": "Update links in Online Store > Navigation."
      },
      {
        "id": "flyout_menu",
        "type": "link_list",
        "label": "Flyout Menu",
        "info": "Update links in Online Store > Navigation."
      },
      {
        "id": "flyout_bottom_left_menu",
        "type": "link_list",
        "label": "Flyout Bottom Left Menu",
        "info": "Update links in Online Store > Navigation."
      },
      {
        "id": "flyout_bottom_right_menu",
        "type": "link_list",
        "label": "Flyout Bottom Right Menu",
        "info": "Update links in Online Store > Navigation."
      },
      {
        "id": "social_menu",
        "type": "link_list",
        "label": "Social Menu",
        "info": "Update links in Online Store > Navigation."
      },
      {
        "type": "text",
        "id": "mobile_shop_all",
        "label": "Mobile Shop All Text",
        "default": "Shop Categories"
      },
      {
        "type": "header",
        "content": "Announcement Bar"
      },
      {
        "type": "checkbox",
        "id": "enable_announcement",
        "label": "Enable Announcement Bar",
        "default": true
      },      
      {
        "type": "richtext",
        "id": "announcement",
        "label": "Text",
        "default": "<p>Promo 1</p><p>Promo 2</p><p>Promo 3</p>",
        "info": "To create multiple announcements, separate each announcement on it's own line."
      },
      {
        "type": "color",
        "id": "announcement_bg_color",
        "label": "Background Color",
        "default": "#F4ECE7"
      },   
      {
        "type": "color",
        "id": "announcement_border_color",
        "label": "Border Color",
        "default": "#000000"
      },        
      {
        "type": "color",
        "id": "announcement_text_color",
        "label": "Text Color",
        "default": "#000000"
      }   
    ]
  }
{% endschema %}
